@charset "UTF-8";

.container {
    margin-top: 1rem;
}

.greeting {
	margin-top: 3rem;
    margin-bottom: 3rem;
}

.mypage-list h1 {
    text-align: center;
    margin-bottom: 3rem;
}

.mypage-list h4 {
    margin-bottom: 0;
}

.mypage-list {
    flex-direction: column;
    /* width: 40vw; */
    justify-content: center;
    margin: 0 auto;
}

.mypage-list button {
    margin-bottom: 20px;
    height: 3rem;
    border-radius: 10px;
}

.mypage-list .good-btn {
    background-color: rgb(243, 235, 164);
}

.mypage-list .bad-btn {
    background-color: rgb(245, 147, 147);
}

.mypage-list .search-btn {
    background-color: rgb(173, 172, 162);
}
