@charset "UTF-8";

.notice-text {
	text-align: center;
	padding-top: 3rem;
}

.notice-text p {
	font-size: 14px;
	color: grey;
}

form {
	margin-top: 2rem;
	margin-bottom: 100px;
	margin-left: 2rem;
}

label {
	font-size: 20px;
}

.dislikeList {
	margin-top: 1rem;
	margin-bottom: 8rem;
	margin-right: 3rem;
	margin-left: 3rem;
}

.dislike-name {
	display: flex;
	flex-direction: row;
}

.dislike-name button {
	align-items: center;
	margin-right: 0;
	background-color: rgb(245, 147, 147);
}

@media screen and (min-width: 376px) {
	li {
		font-size: 18px;
	}
}

@media screen and (max-width: 375px) {
	li {
		font-size: 14px;
	}
}


