.container {
	margin-top: 5rem;
	margin-bottom: 15rem;
}
.card-align-middle {
	text-align:center
}

.card-title h2 {
	color: #000000;
	font-size: 50px;
	margin-top: 100px;
}

.first-ingredient h3 {
	font-size: 30px;
	margin-top: 50px;
}

.first-explain h4 {
	font-size: 20px;
	margin-top: 10px;
}
.second-ingredient h3{
	font-size: 30px;
	margin-top: 50px;
}

.second-explain h4{
	font-size: 20px;
	margin-top: 10px;
}
