@charset "UTF-8";

.container {
	margin-top: 12rem;
	margin-bottom: 4rem;
	
}

.title h3 {
	font-size: 50px;
	text-align:center;
}

.link {
	width: 50vw;
	display: flex;
    justify-content: center;
    margin: 0 auto;

}

.link a {
	color: black;
}

.camera {
	margin-top: 10rem;
	margin-left:30vw;	
}

.upload {
	margin-top:10rem;	
}