@charset "UTF-8";

.notice-text {
	text-align: center;
	padding-top: 3rem;
	padding-bottom: 1rem;
}

.file {
	text-align: center;
}

.file form {
	margin-top: 2rem;
}

.file form p {
	color: grey;
	margin-bottom: 0;
}

#uploadFile {
	border: 1px solid #7f7f7f;
	border-radius: 10px;
}

.result .btn {
	background-color: rgb(220 241 253);
}

.ocr {
	margin-top: 1rem;
	margin-bottom: 6rem;
}

.ocr h5 {
	text-align: center;
}

.result-btn button {
	background-color: rgb(220 241 253);
}