.container {
	margin-top: 12rem;
	margin-bottom: 15rem;
}

.card-title h2{
	 text-align:center;
	 color:#000000;
	 font-size: 50px;
}

.card-body{
	width:50vw;
    margin: 0 auto;
    width:20rem;
}
.card-body h5{
	text-align:center;
	font-size: 15px;
}

.card-body button {
	width:15rem;
	color : #ffffff;
	background:#000000;
	margin-top: 10px;
}

.button-location {
	text-align:center;
}