/* 
@charset "EUC-KR";

@import url("http://fonts.googleapis.com/earlyaccess/nanumgothic.css");

* {margin:0 auto; margin:0 auto; } 
	
	html {
		height: 100%;
	}
	
	body {
	    width:100%;
	    height:100%;
	    margin: 0 auto;
  		padding-top: 100px;
  		padding-bottom: 40px;
  		font-family: "Nanum Gothic", arial, helvetica, sans-serif;
  		background-repeat: no-repeat;
  		background:linear-gradient(to bottom right, #ffffff);
	}
	
    .card {
        margin: 0 auto; Added
        float: none; Added
        margin-bottom: 10px;
        padding: 10px;
        padding-left: 15px;
        padding-top: 100px; Added
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
	
	.form-signin  {
  		width: 500px;
  		padding: 10px;
  		font-size: 20px;
  		background: #ffffff;
	}
	
	.form-control {
  		position: middle;
  		height: auto;
  		-webkit-box-sizing: border-box;
     	-moz-box-sizing: border-box;
        	 box-sizing: border-box;
	}
 */