@charset "UTF-8";

.notice-text {
	text-align: center;
	padding-top: 3rem;
	padding-bottom: 1rem;
}

.list {
	padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 6rem;
}

table {
	text-align:center;
}